{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center mt-5">Вход</h1>
    <div class="container">
        <form action="{% url 'accounts:login' %}" method="post" class="text-center">
            {% csrf_token %}
            {% if has_error %}
                <p class="form-error">Неверное имя пользователя или пароль.</p>
            {% endif %}
            <p><label for="username" class="form-label">Имя пользователя:</label></p>
            <p><input type="text" name="username" id="username" autofocus></p>
            <p><label for="password" class="form-label">Пароль:</label></p>
            <p><input type="password" name="password" id="password"></p>
            <button type="submit" class="btn btn-success">Войти</button>
        </form>
    </div>
{% endblock %}