{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'type_url' %}" method="post">
        {% csrf_token %}
        <div class="container mt-5">
            <h3>Типы задач</h3>
            <div class="row">
                {% for i in object_list %}
                    <div class="col-sm-4 my-2">
                        <div class="card card-1 ">
                            <div id="question_text_{{ i.pk }}">
                                <div class="card-body">
                                    <p class="card-text">{{ i.type }}</p>
                                    <a href="{% url 'type_edit_url' i.pk %}" class="btn btn-success">Изменить</a>
                                    <a href="{% url 'type_delete_url' i.pk %}" class="btn btn-danger">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="plus-button">
            <a href="{% url 'type_create_url' %}" class="text-decoration-none">+</a>
        </div>
    </form>
{% endblock %}