{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5 card card-1">
        <h5>Описание: {{ project.summary }}</h5>
        <p>Детальное описание: {{ project.description }}</p>
        <p>Дата создания: {{ project.date_create }}</p>
        <p>Дата изменения: {{ project.date_update }}</p>
        <div>
            <h3>Пользователи:</h3>
            {% for i in slaves %}
                <p>{{ i.user_id }} <i>{{ i.date_start|date:'d-m-Y H:i:s' }}</i></p><a href="{% url 'webapp:team_user_del_url' i.user_id i.pk %}" class="btn-sm btn-danger">x</a>
            {% endfor %}
        </div>
    </div>
    <div class="container my-3">
        <h3>Задачи:</h3>
        <div class="row">
            {% for i in tasks %}
                <div class="col-sm-4 my-2">
                    <div class="card card-1 ">
                        <div id="question_text_{{ i.pk }}">
                            <div class="card-body">
                                <p class="card-text">{{ i.summary }}</p>
                                <hr>
                                <p class="card-text">{{ i.description }}</p>
                                <hr>
                                <p>{{ i.task_status }}</p>
                                <hr>
                                <p>{{ i.task_type }}</p>
                                <a href="{% url 'webapp:task_details_url' i.pk %}"
                                   class="btn btn-primary">Детали</a>
                                {% if project.status == 'active' %}
                                    <a href="{% url 'webapp:task_edit_url' i.pk %}"
                                       class="btn btn-success">Изменить</a>
                                    <a href="{% url 'webapp:task_delete_url' i.pk %}" class="btn btn-danger">X</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}