{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group container mt-5" {% if perms.webapp.change_project %}{% else %}style="display: none" {% endif %}>
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    {{ field.label }}
                    <br/>
                    {{ field }}
                </div>
            {% endfor %}

            <div class="card-1"><p>Пользователи в команде:(выделите, чтобы удалить)</p>
                <select name="active_users" multiple class="ml-3">
                    {% for i in active_users %}
                        <option value="{{ i.pk }}">{{ i.user_id }}</option>
                    {% endfor %}
                </select></div>

            <div class="card-1">
            <p>Добавить пользователей:</p>
                <select name="user_list" multiple class="ml-3">
                {% for i in list_users %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select></div>
        <button type="submit" class="btn btn-success ml-3 mt-1">Сохранить</button>

        </form>


    </div>

{% endblock %}

